  <header class="d-flex flex-wrap justify-content-center py-3 border-bottom ">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" >
         <span class="fs-4 ms-3">Családinyár</span>
        </a>
      
          <ul class="nav nav-pills pe-2">
            <li class="nav-item"><a href="/#bemutatkozas" class="nav-link" aria-current="page" style="color:#2e2c27">Bemutatkozás</a></li>
            <li class="nav-item"><a href="/bekesszentandras" class="nav-link" style="color:#2e2c27">Békésszentandrás</a></li>
            <li class="nav-item"><a href="/szarvas" class="nav-link" style=" color: #2e2c27;">Szarvas</a></li>
            <li class="nav-item"><a href="/hasznos" class="nav-link" style=" color: #2e2c27;">Hasznos tudnivalók</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link" style=" color: #2e2c27;">Kapcsolat</a></li>
          </ul>
  </header>

