{% include 'header.html.twig' %}
{% include 'menu.html.twig' %}


<div class="container mt-5 d-flex justify-content-center">
    <div class="col-sm-6">
    <h1 class="display-5 text-center mb-2"> Felhasználó jelszó módosítás</h1>
           <form action="/passwordEdit" method="post">
            <input type="hidden" value="{{managers.id}}" name="id">
            <p>Felhasználónév: {{managers.username}}</p>
            <div class="form-group">
                <label for="password">Jelszó*</label>
                <input type="password" name="password" required>
            </div>
            <div class="form-group mt-3 justify-content-between d-flex">
                <button type="submit" class="btn btn-success text-white" name="update"><i class="bi bi-pencil-square m-1"></i>Módosít</button>
            <a href="javascript:history.back()" class="btn btn-warning"> <i class="bi bi-arrow-left-square-fill m-1"></i>Vissza</a></div>
        </form>
    </div>

</div>

{% include 'footer.html.twig' %}