{% include 'header.html.twig' %}
{% include 'publicmenu.html.twig' %}

<div class="container-fluid"  id="hasznos">
	<div class="row">
		<div class="col-md-12 text-center ">
			<h1 class="pt-3">Az oldal jelenleg fejlesztés alatt</h1>  
		</div>
		<i class="bi-alarm pb-2" style="font-size: 5rem; color: #545658;"></i>
	</div>
</div>
{% include 'publicfooter.html.twig' %}

